* {
 // padding: 0;
 // margin: 0;
}
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
// background-color:#26262c;
   background-color:white;
// background-image: url("p1.jpg");
  display:none;
// filter: opacity(0.9);
 backdrop-filter: blur(10px);
/* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

}  
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:500px;
  height:850px;
  display:none;
  z-index:9999;
  padding:20px;
  border-radius: 5px;
  text-align: center;
box-shadow: 0px 60px 100px 5px #000;
}


#boxes #dialog {
  width:500px; 
  height:auto;
  padding: 10px 10px 10px 10px;
 // background-color:#ffffff;
// background-color:#19191c;
  font-size: 15pt;

  /* The image used */
  background-image: url("pj.jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.agree:hover{
  background-color: #D1D1D1;

}
.popupoption:hover{
	background-color:#D1D1D1;
	color: green;
}
.popupoption2:hover{
	color: red;
}

.wrap {
  margin: 5em auto;
  width: 500px;
}

.box {
  height: 300px;
  width: 450px;
  background-color: #bdc3c7;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border: 2px solid #ecf0f1;
}
.box img {
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  position: absolute;
  -webkit-transition: -webkit-transform .25s, opacity .25s;
  -moz-transition: -moz-transform .25s, opacity .25s;
  transition: transform .25s, opacity .25s;
  opacity: .25;
}
.box h1 {
  text-align: center;
  font-size: 2.25em;
  position: absolute;
  left: 125px;
  color: #ecf0f1;
  letter-spacing: 1px;
  top: 40px;
  font-weight: 100;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}
.box img:hover {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  opacity: 1;
}
.box object {
  margin: 30px 0 0 -70px;
}