* {
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
     color: #204754;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   font-size: 10px;

}
a {
  text-decoration: none;
  font-weight: bold;
  -webkit-background-clip: text;
  color: transparent;
}

.card {
  position: relative;
  background-color: #F8F8F8;
  border-radius: 1.5em;
  min-width: 900px;
  max-width: 1170px;
  width: 100%;
  padding: 2.6em 3.8em;
  cursor: pointer;
  top: -50%;
  transform: translate(-50%, -50%);
  left: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 
    0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1), 
    0 32px 32px rgba(0, 0, 0, 0.15),
    0 64px 64px rgba(0, 0, 0, 0.15);
}
.note::after {
  content: '';
  width: 20%;
  height: 2px;
  border-radius: 999px;
 
  
  position: absolute;
  top: -1.8em;
  left: 0;
}
.note {
  font-size: 0.8em;
  color: #8A8A8A;
  position: relative;
  margin-top: 4em;
}

/* Scroller styling */
.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 20em;
font-size: 60px;

}
.scroller > span {
  position: relative;
  top: 0;
  animation: slide 5s infinite;
  font-weight: normal;
margin: auto;

  
}
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}